API_ID=27369063 # get this value from my.telegram.org
API_HASH=187bde523f7fa6b1e44fc90e05f27a59 # get this value from my.telegram.org
BOT_TOKEN=7017110632:AAGqAwaOeeQdv7aoGsuzmFD1KEgnewj7TAQ:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
Music_bot_Rivz=Rivz # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
